@{
    ViewBag.Title = "Начало";
}


<div id="cp_widget_08eb9e0f-f6e9-42e2-bd2d-b686428611dd">...</div>
<script type="text/javascript">
    var cpo = []; cpo["_object"] = "cp_widget_08eb9e0f-f6e9-42e2-bd2d-b686428611dd"; cpo["_fid"] = "AYIA3o8cmlii";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function () {
        var cp = document.createElement("script"); cp.type = "text/javascript";
        cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c);
    })();
</script>