@{
    ViewBag.Title = "Начало";
}

<img src="../../Images/XristosVoskreseGoldModifikated.png" alt="Христос Воскресе!" class="image" />
<img src="../../Images/xvoskrese.png" alt="червено яйце" class="image" />
<div class="text">Някакъв текст.</div>