@{
    ViewBag.Title = "Home Page";
}

<img src="../../Images/XristosVoskreseGoldModifikated.png" alt="Христос Воскресе!" class="image" />
<img src="../../Images/xvoskrese.jpg" alt="червено яйце" class="image" />
<div class="text">Някакъв текст.</div>