@model SvNaum.Web.Models.NewsInputModel

@{
    this.ViewBag.Title = "Add news";
}

<h2>Create news:</h2>

@using(Html.BeginForm("NewsAdd", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel()

    <br />
    <br />
    <input type="submit" value="Save" />
    <input type="button" value="Cancel" onclick="window.location = '/Home/Index';" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval"); 
}