@model SvNaum.Web.Models.PrayerInputModel

@{
    ViewBag.Title = "Add prayer";
}

<h2>Create prayer</h2>

@using (Html.BeginForm("PrayerAdd", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <br />
    <br />
    <input type="submit" value="Save" />
    <input type="button" value="Cancel" onclick="window.location = '/Home/Breviary';" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}