@model SvNaum.Web.Models.SermonInputModel

<h2>Create sermon:</h2>
@using (Html.BeginForm("SermonAdd", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
    
    <br />
    <br />
    <input type="submit" value="Save" />
    <input type="button" value="Cancel" onclick="window.location = '/Home/Sermons';" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
